<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Louvre{% endblock %}</title>

    {% block stylesheets %}
        {# On charge le CSS de bootstrap depuis le site directement #}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker2.css') }}">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% endblock %}

</head>

<body>
    <div class="container">
        <header class="row">
            <div class="col-sm-4 text-center">
                <a href ="/" title="Accueil">
                    <img src = "{{ asset('images/logo.jpg') }}" class="img-responsive" alt="Logo Louvre" width="280px">
                </a>
            </div>
            <div class="col-sm-8 text-center">
                <h1>Musée du Louvre</h1>
                <h2>Billetterie en ligne</h2>
            </div>
        </header>

        <section class="row">
            <ol class="breadcrumb">
                {% block filariane %}
                {% endblock %}
            </ol>

            <main class="col-sm-9">
                <div class="content">
                    {% block main %}
                    {% endblock %}
                </div>
            </main>

            <aside class="col-sm-3">
                {% block aside %}
                {% endblock %}
            </aside>
        </section>

        <footer class="row text-center">
            Copyright © 2017 - Adeline BARRÉ - Tous droits réservés<br/>
            <a href="/mentions-legales" title="Mentions légales">Mentions légales</a>
        </footer>
    </div>

    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="{{ asset('js/bootstrap-datepicker2.js') }}"></script>
        <script src="{{ asset('js/bootstrap-datepicker.fr.min.js') }}"></script>
     {% endblock %}

</body>
</html>
