{% extends "LouvreBilletterieBundle::layout.html.twig" %}

{% block title %}
    Billetterie - {{ parent() }}
{% endblock %}

{% block filariane %}
    <li>Date de la visite</li>
    <li>Informations</li>
    <li>Confirmation</li>
{% endblock %}



    {% block main %}
    <fieldset>
        <legend>Vérifier votre commande & Paiement</legend>

        <div>
            <table class="table table-bordered" id="recapCommande">
                <thead class="thead-inverse">
                <tr>
                    <th>Nom prénom</th>
                    <th>Tarif</th>
                    <th>Prix</th>
                </tr>
                </thead>
                {% set i = 0 %}
                {% set infos = app.session.get('Infos') %}
                {% for billet in infos.getClients() %}
                <tbody>
                <tr>
                    <th> {{ billet.nom }} {{ billet.prenom }}</th>
                    {% if billet.tarif == "Réduit" %}
                        <th> {{ billet.tarif }} * </th>
                        {% set i = i + 1 %}
                    {% else %}
                        <th> {{ billet.tarif }} </th>
                    {% endif %}
                    <th> {{ billet.prix }} € </th>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="2" class="text-right"> Total </th>
                    <th> {{ app.session.get('Total')  }} € </th>
                </tr>
                </tfoot>
            </table>
        </div>
        {% if i >= 1 %}
            <p><i> * Merci de vous munir d'un justificatif (carte d'étudiant, carte militaire, carte d'invalidité, etc.) le jour de votre visite.</i></p>
            <br/>
        {%  endif %}
    </fieldset>

    <div>
        <div style="text-align:right">
            <form method="POST">
            <a href="javascript:history.go(-1)"><input type="button" class="btn btn-default" value="< Etape précédente" /></a>
            <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    {#data-key="pk_test_Z7CIYfAdyS4BYAwdNQHhUF1A"#}
                    data-key="{{ stripe_public_key }}"
                    data-email= "{{ email }}"
                    data-currency="eur"
                    data-amount="{{ montant * 100 }}"
                    data-name="Billet(s) musée du Louvre"
                    data-image="{{ asset('images/logo.jpg') }}"
                    data-locale="auto"
                    data-zip-code="true">
            </script>
                <button class="btn btn-default" value="suivant">Etape suivante ></button>
            </form>
        </div>
    </div>
{% endblock %}

{% block aside %}
    <h4>Votre panier</h4>
    Visite pour le {{ app.session.get('Billet').getDate()|date("d/m/Y") }}
    <p>{% if app.session.get('Billet').getTypeBillet == "1" %}
             A partir de 9h
       {% else %}
             A partir de 14h
       {% endif %}
    </p>
    <hr />
    Nombre de ticket(s) : {{ app.session.get('Billet').getNbBillet() }}
    <div>
        {% set infos = app.session.get('Infos') %}
        <br>
        {% for billet in infos.getClients() %}

            <p>{{ billet.nom }}
                {{ billet.prenom }}
                {% if billet.tarif == "Réduit" %}
                    / Tarif {{ billet.tarif }} *
                {% else %}
                    / Tarif {{ billet.tarif }}
                {% endif %}
            </p>
        {% endfor %}

    </div>

    <hr />
    <div id="total">Total : {{ app.session.get('Total')  }} €</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
{% endblock %}