{% extends "LouvreBilletterieBundle::layout.html.twig" %}

{% block title %}
    Billetterie - {{ parent() }}
{% endblock %}

{% block filariane %}
    <li>Date de la visite</li>
    <li>Informations</li>
    <li>Confirmation & Paiement</li>
    <li>Confirmation email</li>
{% endblock %}


{% block main %}

    <fieldset>
        <legend>Votre réservation</legend>

        <p>Madame, Monsieur, </p>


        <div>
            <p>
                Votre réservation à bien été prise en compte.<br/>
                Un email vient de vous être envoyé.<br/>
                Ce document servira de billet d'entrée pour le musée du Louvre.<br/>
                Conservez-le bien !
            </p>
        </div>

        <h1>Musée du Louvre</h1><img src="{{ asset('images/logo.jpg') }}" alt="logo"/>

        <p>Réservation n° {{ coderesa }} </p>

   </fieldset>

    <div>
        <div style="text-align:right">
            <a href="{{ path('louvre_billetterie_videsession') }}"><input type="button" class="btn btn-default" value="OK" /></a>
        </div>
    </div>
{% endblock %}

{% block aside %}
    <h4>Votre panier</h4>
    Visite pour le {{ app.session.get('Billet').getDate()|date("d/m/Y") }}
    <p>{% if app.session.get('Billet').getTypeBillet == "1" %}
                A partir de 9h
       {% else %}
                A partir de 14h
       {% endif %}
    </p>
    <hr />

    Nombre de ticket(s) : {{ app.session.get('Billet').getNbBillet() }}
    <div>
        {% set infos = app.session.get('Infos') %}
        <br>
        {% for billet in infos.getClients() %}

            <p>{{ billet.nom }}
                {{ billet.prenom }}
                {% if billet.tarif == "Réduit" %}
                    / Tarif {{ billet.tarif }} *
                {% else %}
                    / Tarif {{ billet.tarif }}
                {% endif %}
             </p>
        {% endfor %}

    </div>

    <hr />
    <div id="total" class="bold">Total : {{ app.session.get('Total')  }} €</div>
{% endblock %}