{% extends "LouvreBilletterieBundle::layout.html.twig" %}

{% block title %}
    Billetterie - {{ parent() }}
{% endblock %}

{% block main %}

    <div class="well">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        {# Les erreurs générales du formulaire. #}
        {{ form_errors(form) }}

        <fieldset>
                <legend>Choisissez une date</legend>

                <div id="datepicker">
                    <label>Date de la visite:</label>
                    {{ form_widget(form.date) }}
                </div>

                <div class="form-group">
                    <label>Visite</label>
                        {{ form_widget(form.typebillet) }}
                </div>
                <div class="form-group">
                    <label class="required">Nombre de billets</label>
                    {{ form_widget(form.nbbillet, {'attr': {'required': 'required'}}) }}
                </div>
        </fieldset>
        {{ form(form) }}

        <div>
            {{ form_widget(form.Etapesuivante, {'attr': {'class': 'btn btn-default'}}) }}
        <!--<button type="submit" class="btn btn-danger" name="flow_booking_transition" value="reset" formnovalidate="formnovalidate">Annuler</button>-->
        </div>
        {{ form_end(form) }}

    </div>
{% endblock %}
{% block aside %}
    <h4>Votre panier</h4>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $("form.date").datepicker({
        dateFormat: 'dd/mm/yy',
        firstDay:1
        });
     </script>
{% endblock %}

