{% extends "LouvreBilletterieBundle::layout.html.twig" %}

{% block title %}
    Billetterie - {{ parent() }}
{% endblock %}

{% block main %}

    <div class="well">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        {# Les erreurs générales du formulaire. #}
        {{ form_errors(form) }}

        <fieldset>
            <legend>Informations visiteurs</legend>
            {#{% form_theme form _self %}
            {% block _form_entry_widget %}
                <tr>
                    <td>{{ form_widget(form.nom) }}</td>
                    <td>{{ form_widget(form.prenom) }}</td>
                </tr>
            {% endblock %}#}
            {% set i = 0 %}
            {% for client in form.Clients %}
                {% set i = i + 1 %}
                <label>Information sur le visiteur {{ i }} </label>
                <br/>
                <label>Nom</label>{{ form_widget(client.nom) }}
                <br/>
                <label>Prénom</label> {{ form_widget(client.prenom) }}
                <br/>
                <label>Pays</label> {{ form_widget(client.pays) }}
                <br/>
                <label>Date de naissance</label> {{ form_widget(client.dateNaissance) }}
                <label>Tarif réduit</label> {{ form_widget(client.Tarifreduit) }}
                <hr />
                {{ form_widget(form._token) }}
            {% endfor %}
            {#{{ form(form) }}#}

       </fieldset>

        <div>
            {{ form_widget(form.Etapesuivante, {'attr': {'class': 'btn btn-default'}}) }}
            {{ form_widget(form.Etapeprec, {'attr': {'class': 'btn btn-default'}}) }}
            {{ form_widget(form.Annuler, {'attr': {'value': 'reset', 'class': 'btn btn-danger'}}) }}
        </div>
    </div>

{% endblock %}
{% block aside %}
    <h4>Votre panier</h4>
        Visite pour le {{ app.session.get('date_visite')|date("d/m/Y") }}
        <hr />
        <!--à partir de-->
        Nombre de ticket(s) : {{ app.session.get('nb_billet') }}

{% endblock %}

