<h4>Votre réservation</h4>

<p>Madame, Monsieur, </p>
<div>
    <p>
        Votre réservation à bien été prise en compte.<br/>
        Un email vient de vous être envoyé.<br/>
        Ce document servira de billet d'entrée pour le musée du Louvre.<br/>
        Conservez-le bien !
    </p>
</div>

<h1>Musée du Louvre</h1>

<p>Réservation n° {{ coderesa }}</p>


<p>Visite pour le {{ app.session.get('Billet').getDate()|date("d/m/Y") }}, à partir de
    {% if app.session.get('Billet').getTypeBillet == "1" %}
            9h
        {% else %}
            14h
        {% endif %}
</p>
<hr />
<!--à partir de-->
Nombre de ticket(s) : {{ app.session.get('Billet').getNbBillet() }}
<div>
    {% set infos = app.session.get('Infos') %}
    {% for billet in infos.getClients() %}

        <p>{{ billet.nom }} {{ billet.prenom }} / Tarif {{ billet.tarif }}</p>
    {% endfor %}

</div>